.tech-icon {
  max-height: $tech-logo-size;
  max-width: $tech-logo-size;
}

.tech-title {
  font-size: $text-medium;
  margin: 10px 0;
}

.tech-release {
  font-size: $text-medium;
  font-weight: bold;
  margin: 10px 0;
}

.tech-description {
  font-size: $text-medium;
  margin: 10px 0;
}

.tech-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1000px;
  padding: 20px;
  width: 100%;
}

.tech {
  align-items: center;
  background-color: $green;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  margin: 10px 4px;
  padding: 20px;
=======
  justify-content: center;
  margin: 10px 15px;
  padding: 10px 20px;
>>>>>>> Layouts first try, blocks and techs
  position: relative;
  text-align: center;
  width: 200px;

  &:hover::before {
    transform: translate(20px, 20px);
  }

  &::before {
    border: 2px solid $green;
    border-radius: 10px;
    content: '';
    height: 100%;
    left: -10px;
    position: absolute;
    top: -10px;
    transform: all 0.5s ease;
    width: 100%;
    z-index: -1;
  }
}
