.title {
  color: $black;
  font-size: $text-big;
  display: flex;
  padding-left: 50px;
  align-items: center;
  position: relative;
  height: $title-decoration-height;
    &::before {
        content: url('assets/triangle.svg');
        position: absolute;
        left: 0;
        width: $title-decoration-width;
        z-index: -1;
    }
  }