@import url('https://fonts.googleapis.com/css?family=Oswald');

.list {
  background: lightgray;
  border: 1px solid black;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  width: 300px;
}

.spinner {
  display: flex;
  justify-content: center;
}

.topBar {
  background: lightblue;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: flex-end;
  width: auto;
}

.link {
  align-content: center;
  background: gray;
  border: solid 1px black;
  color: white;
  display: flex;
  height: 30px;
  width: 120px;
}
