@import url('https://fonts.googleapis.com/css?family=Oswald');

.list {
  background: lightgray;
  border: 1px solid black;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  margin-top: 20px;
  padding: 5px;
  text-align: center;
  width: 300px;
}

.spinner {
  display: flex;
  justify-content: center;
}
