.nav-bar {
  align-items: center;
  background-color: $white;
  box-shadow: 2px 2px 10px $grey;
  display: flex;
  height: $nav-height;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.nav-wolox-logo {
  height: $nav-logo-height;
}

.nav-title {
  font-size: $text-big;
}
