body {
  font-family: 'Roboto', 'sans-serif';
}

.content {
  display: flex;
  flex-direction: column;
  padding: 100px;
}

@media only screen and (max-width: 1024px) {
  .content {
    padding: 100px 20px;
  }
}
