.tech-icon {
  max-height: $tech-logo-size;
  max-width: $tech-logo-size;
}

.tech-title {
  font-size: $text-medium;
  margin: 10px 0;
}

.tech-release {
  font-size: $text-medium;
  font-weight: bold;
  margin: 10px 0;
}

.tech-description {
  font-size: $text-medium;
  margin: 10px 0;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
  max-width: 400px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;

  &:first-child {
    border-right: 2px solid $green;
    grid-row: span 2;
    justify-content: center;
    max-width: 400px;
    padding: 0 100px;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .tech-container {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    //max-width: 1200px;
    padding: 20px;
  }

  .tech {
    align-items: center;
    border-bottom: 3px solid $green;
    display: flex;
    flex-direction: column;
    margin: 20px 15px;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 230px;

    &:first-child {
      border-right: 0 solid $green;
      justify-content: center;
      margin: 20px 15px;
      padding: 20px;
      width: 230px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
