.tech-icon {
  max-height: $tech-logo-size;
  max-width: $tech-logo-size;
}

.tech-title {
  font-size: $text-medium;
  margin: 10px 0;
}

.tech-release {
  font-size: $text-medium;
  font-weight: bold;
  margin: 10px 0;
}

.tech-description {
  font-size: $text-medium;
  margin: 10px 0;
}

.tech-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px;
}

.tech {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px 15px;
  max-width: 400px;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 100%;

  &:first-child {
    border-right: 2px solid $green;
    grid-row: span 2;
    justify-content: center;
    max-width: 400px;
    padding: 0 100px;
    width: 100%;
  }
}
