.title {
  align-items: center;
  color: $black;
  display: flex;
  font-size: $text-big;
  height: $title-decoration-height;
  padding-left: 50px;
  position: relative;

  &::before {
    content: url('/maquetado/assets/triangle.svg');
    height: $title-decoration-height;
    left: 0;
    position: absolute;
    width: $title-decoration-width;
    z-index: -1;
  }
}
